[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:byoung006/kickstart.nvim.git
[submodule "tmux/.tmux/plugins/tmux2k"]
	path = tmux/.tmux/plugins/tmux2k
	url = git@github.com:2KAbhishek/tmux2k.git
